<div class="body forma" id="myForm">
    <form 
    [formGroup]="form"
    (ngSubmit)="onSubmit()"

    >
    <div class="form-group">
        <div class="form-control form-control-lg">
            <label for="puesto">Puesto de trabajo:</label>
            <input
            formControlName="puesto"  
            type="text" 
            name="puesto" 
            id="puesto" 
            placeholder="Agregar puesto de trabajo"
            
    
            >
            <div *ngIf="Puesto?.errors && Puesto?.touched">
                <p *ngIf="Puesto?.hasError('required')" class="error">Ingrese el puesto que ocupo</p>
            </div>
        </div>

        <div class="form-control form-control-lg">    
            <label for="empresa">Empresa:</label>
            <input
            formControlName="empresa" 
            type="text" 
            name="empresa" 
            id="empresa" 
            placeholder="Agregar empresa"           
            >
            <div *ngIf="Empresa?.errors && Empresa?.touched">
                <p *ngIf="Empresa?.hasError('required')" class="error">Ingrese la empresa en que trabajo</p>
            </div>
        </div>

        <div class="form-control form-control-lg">    
            <label for="logo">Logo empresa: </label>
            <input 
            formControlName="logo" 
            type="text" 
            name="logo" 
            id="logo" 
            placeholder="Agregar link logo"
            >
        </div>
        <div class="divDates ">
            <div class=" form-control form-control-lg">    
                <label for="periodo">Fecha de inicio: </label>
                <input
                formControlName="periodo" 
                type="date" 
                name="periodo" 
                id="periodoStart" 
                placeholder="Agregar periodo"
            
                >
                <div *ngIf="!this.periodovalidator">
                    <p class="error" >Ingrese la fecha de inicio</p>
                </div>
            </div>



            <div class="form-control form-control-lg endDate">   
                <div class="form-check">
                    <label for="flexCheckDefault">Trabajo actual</label>
                    <input type="checkbox" title="checker" (click)="disableSending()" id="checker" [checked]="!this.alt">
               </div> 
                <div *ngIf="this.alt">
                    <label for="periodo">Fecha de fin: </label>
                    <input                
                    formControlName="periodoEnd" 
                    type="date" 
                    name="periodo" 
                    id="periodoEnd" 
                    placeholder="Agregar periodo f"   
                    >
                    
                    <div *ngIf="!this.periodovalidator">
                        <p class="error" >Ingrese la fecha de fin</p>
                    </div>
                </div>
            </div>

    </div>

        <div class="form-control form-control-lg">    
            <label for="tareas">Tareas: </label>
            <textarea 
            formControlName="tareas" 
            type="text" 
            name="tareas" 
            rows="5"
            maxlength="1000"
            class="about" 
            placeholder="Agregar tareas"
            ></textarea>
        </div>
    
        <div class="btn-div"><button type="submit" class="btn-form btn-success">Aceptar</button>
        <button type="button" class="btn-form btn-danger"  (click)="cancelarBtn()">Cancelar</button></div>
    </div>
    </form>
    </div>