<div class="carta card" id="1stcard">
    <img 
    class="banner img-fluid" 
    src="https://img.lovepik.com/background/20211022/large/lovepik-blue-cool-technology-background-image_500700456.jpg" 
    alt=""
>
        <div id="persona">

        <div class="foto">
            <img 
                id="foto" 
                class="img-thumbnail"
                [src]="person?.foto" alt="">
        
        
        <div class="fotodescripcion" >
            <h1 ><b>{{person?.nombre}}</b></h1> 
            <h4><b>{{person?.titulo}}</b></h4>
        </div>
    </div>
    
    <div id="descripcion">
        <div class="container">
            <div class="row">
                <div class="col-8 ">
                    <h3><b>Sobre mi</b></h3>
                </div>
                <div *ngIf="this.editOK" class="col-4 lapizperson">
                    <a><fa-icon
                        class="fa-solid" 
                         [icon]="faPencil"
                         routerLink="/personform"
                         >
                         </fa-icon></a>
                </div>
            </div>
        </div>
        <textarea 
        readonly id="about" 
        title="sobre mi" 
        maxlength="250"
        rows="4">{{person?.about}}</textarea>
    </div>
</div>
<div id="exp" class="indexer">.</div>