
<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a title="a" class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Dani.Vallejos" target="_blank" rel="noopener noreferrer" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <a title="a" class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/dcvallejos/" target="_blank" rel="noopener noreferrer" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <a title="a" class="btn btn-outline-light btn-floating m-1" href="https://github.com/dcvallejos" target="_blank" rel="noopener noreferrer" role="button"
        ><i class="fab fa-github"></i
      ></a>

    </section>
  </div>  

  <div class="text-center p-3">
    © 2022 Copyright | Daniel C. Vallejos
  </div>
</footer>