<div class="forma body" id="myForm">
    <form 
    [formGroup]="form"
    (ngSubmit)="onSubmit($event)"

    >
        <div class="form-control form-control-lg">
            <label for="titulo">Titulo:</label>
            <input 
            type="text" 
            name="titulo" 
            id="titulo" 
            placeholder="Agregar Titulo"
            formControlName="titulo"   
            >
            <div *ngIf="Titulo?.errors && Titulo?.touched">
                <p *ngIf="Titulo?.hasError('required')" class="error">Ingrese titulo del curso/carrera </p>
            </div>
        </div>
        <div class="form-control form-control-lg">    
            <label for="institucion">Institucion: </label>
            <input 
            type="text" 
            name="institucion" 
            id="institucion" 
            placeholder="Agregar institucion"
            formControlName="institucion"
            >
            <div *ngIf="Institucion?.errors && Institucion?.touched">
                <p *ngIf="Institucion?.hasError('required')" class="error">Ingrese la institucion donde hizo el curso/carrera </p>
            </div>
        </div>
        <div class="form-control form-control-lg">    
            <label for="logo">Logo institucion: </label>
            <input 
            type="text" 
            name="logo" 
            id="logo" 
            placeholder="Agregar link logo"
            formControlName="logo"
            >
        </div>
        <div class="divDates ">
            <div class="form-control form-control-lg">    
                <label for="periodo">Periodo: </label>
                <input
                type="date" 
                name="periodo" 
                id="periodo" 
                placeholder="Agregar periodo"
                formControlName="periodo"
                >
                <div *ngIf="!this.periodovalidator">
                    <p class="error" >Ingrese la fecha de inicio</p>
                </div>
            </div>

            <div class="form-control form-control-lg endDate">   
                <div class="form-check">
                    <label for="flexCheckDefault">Trabajo actual</label>
                    <input type="checkbox" title="checker" (click)="disableSending()" id="checker" [checked]="!this.alt">
            </div> 
                <div *ngIf="this.alt">
                    <label for="periodo">Fecha de fin: </label>
                    <input                
                        formControlName="periodoEnd" 
                        type="date" 
                        name="periodo" 
                        id="periodoEnd" 
                        placeholder="Agregar periodo f"   
                        >
                    <div *ngIf="!this.periodovalidator">
                        <p class="error" >Ingrese la fecha de fin</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-control form-control-lg">    
            <label for="detalles">Detalles: </label>
            <textarea 
            type="text" 
            name="detalles" 
            rows="5"
            maxlength="500"
            class="about" 
            placeholder="Agregar detalles"
            formControlName="detalles"
            ></textarea>
        </div>
    
        <div class="btn-div"><button type="submit" class="btn-form btn-success">Aceptar</button>
        <button type="button" class="btn-form btn-danger"  (click)="cancelarBtn()">Cancelar</button></div>
        
    </form>Ks
    </div>