
    <div class="tops">
        <div class="espacio">
            <img
            class="logoemp"
            [src]="exp.logo" 
            alt=""> 
        </div>
        <div  class="desc-exp">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <h4>{{exp.puesto}}</h4>
                    </div>
                    <div class="col-4">
                        <a><fa-icon
                        class="fa-solid" 
                         [icon]="faPencil"
                         (click)="onClick(exp)"
                         routerLink="/form/{{exp.id}}"
                         >
                         </fa-icon></a>
                    <fa-icon 
                    [icon]="faTimes"
                    [ngStyle]="{'color':'red'}"
                    class="fa-solid fa-xl"
                    (click) = "onDelete(exp)"
                    ></fa-icon>
                    </div>
                </div>
            </div>
            <h6>{{exp.empresa}}</h6>
            <p>{{exp.periodo| date: 'MM/yyyy'}}</p>
            <textarea 
            readonly class="about" 
            title="sobre mi" 
            rows="4">{{exp.tareas}}
            </textarea>              
        </div>
    </div> 

