            <circle-progress class="skills"
                [percent]="skill.puntaje!*10"
                [title]="skill.nombre!"
                [titleFontSize]="'12'"
                [radius]="50"
                [outerStrokeWidth]="5"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'blue'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                [titleFontWeight]= "'600'"
                [titleFontSize]="'16'"
                [responsive]="true"
                [showSubtitle]="false"
   
                
            >
            </circle-progress>
