            <circle-progress class="skills"
                [percent]="skill.puntaje!"
                [title]="skill.nombre!"
                [titleFontSize]="'hola'"
                [radius]="50"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                
            >
            </circle-progress>
