
    <div class="tops">
        <div class="espacio">
            <img
            class="logoemp"
            [src]="study.logo" 
            alt=""> 
        </div>
        <div  class="desc-exp">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <h2><b>{{study.titulo}}</b></h2>
                    </div>
                    <div *ngIf="this.editOK" class="col-4">
                        <a><fa-icon
                        class="fa-solid" 
                         [icon]="faPencil"
                         (click)="onClick(study)"
                         routerLink="/studyform/{{study.id}}"

                         >
                         </fa-icon></a>
                        <a><fa-icon 
                            [icon]="faTimes"
                            [ngStyle]="{'color':'red'}"
                            class="fa-solid fa-xl"
                            (click) = "onDelete(study)"

                        ></fa-icon></a>
                    </div>
                </div>
            </div>
            <h4><b>{{study.institucion}}</b></h4>
            <div class="row rowperiod">
                <div class="col-2">
                    <p>Desde:  <b>{{study.periodo| date: 'MM/yyyy'}}</b></p>
                </div>
                
                <div class="col-1 "><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div>
                <div class="col-5">
                    <p *ngIf = "study.periodoEnd!"><b>{{study.periodoEnd| date: 'MM/yyyy'}}</b></p>    
                    <p *ngIf= "!study.periodoEnd"><b>actualidad</b></p>
                </div>
            </div>
            <textarea 
            readonly class="about" 
            title="sobre mi" 
            rows="4">{{study.detalles}}
            </textarea>              
        </div>
    </div> 

