<body >
    <div cdkDropList (cdkDropListDropped)="drop($event)">

    <div  class="card mat-card">
        <h1 class="titulo"><b>Proyectos</b></h1>
            <app-item-proyecto 
                *ngFor="let proy of proys"
                [ngClass]="{'mover':editOK}"

                [proy] = "proy"
                (onDeleteProy)="deleteProy(proy)"
                [editOK]="editOK"
                cdkDragLockAxis="y"
                cdkDrag
                [cdkDragDisabled]="!editOK"

            >
        </app-item-proyecto>
        <a *ngIf="this.editOK" title="Edit" > 
            <fa-icon
                (click)="sendEdit()"
                title="Edit" 
                class="fa-solid fa-2xl" 
                [ngStyle] = "{'color':'green'}"
                [icon]="faPlusCircle"
            >    
        </fa-icon></a><div id="proy" class="indexer">.</div>
        
    </div>      
 </div>    



</body>