<div class="forma body" id="myForm">
    <form 
    [formGroup]="form"
    (ngSubmit)="onSubmit($event)"

    >
    <div class="form-group">
        <div class="form-control form-control-lg">
            <label for="nombre">Nombre del proyecto:</label>
            <input
            formControlName="nombre" 

            type="text" 
            name="nombre" 
            id="nombre" 
            placeholder="Agregar nombre del proyecto"
            
    
            >
            <div *ngIf="Nombre?.errors && Nombre?.touched">
                <p *ngIf="Nombre?.hasError('required')" class="error">Ingrese el nombre del proyecto</p>
            </div>
        </div>

        <div class="form-control form-control-lg">    
            <label for="logo">Foto del proyecto: </label>
            <input 
            formControlName="logo" 

            type="text" 
            name="logo" 
            id="logo" 
            placeholder="Agregar foto de proyecto"
            >
        </div>
        <div class="form-control form-control-lg">    
            <label for="logo">Link del proyecto: </label>
            <input 
            formControlName="link" 
            type="text" 
            name="logo" 
            placeholder="Agregar link de proyecto"
            >
        </div>
        <div class="form-control form-control-lg">    
            <label for="periodo">Fecha de realizacion: </label>
            <input
            formControlName="periodo" 
            type="date" 
            name="periodo" 
            id="periodo" 
            placeholder="Agregar fecha de realizacion"
           
            >
            <div *ngIf="!this.periodovalidator">
                <p class="error" >Ingrese la fecha de inicio</p>
            </div>
        </div>

        <div class="form-control form-control-lg">    
            <label for="tareas">Descripcion: </label>
            <textarea 
            formControlName="about" 
            type="text" 
            name="about" 
            rows="5"
            maxlength="500"
            class="about" 
            placeholder="Relata brevemente de que se trata el proyecto"
            ></textarea>
            <div *ngIf="About?.errors && About?.touched">
                <p *ngIf="About?.hasError('required')" class="error">Ingrese una descripcion del proyecto</p>
            </div>
        </div>
    
        <div class="btn-div"><button type="submit" class="btn-form btn-success">Aceptar</button>
        <button type="button" class="btn-form btn-danger"  (click)="cancelarBtn()">Cancelar</button></div>
    </div>
    </form>
    </div>