<body >
    <div  class="card mat-card">
        <h2 class="titulo">Experiencia</h2>
            <app-exp-item 
                *ngFor="let exp of exps"
                [exp] = "exp"
                (onDeleteExp)="deleteExp(exp)"
            >
        </app-exp-item>
        <a *ngIf="this.status" title="Edit" > 
            <fa-icon
                (click)="sendEdit()"
                title="Edit" 
                class="fa-solid fa-2xl" 
                [ngStyle] = "{'color':'green'}"
                [icon]="faPlusCircle"
            >    
        </fa-icon></a><div id="study" class="indexer">.</div>
        
    </div>    



</body>