<body>
    <div class="card mat-card">
        
        <div class="tituloNedit">
        
        <h2 class="titulo">Hard & Soft Skills</h2>
        <div *ngIf="this.status" class="lapicito">
            
            <fa-icon
            (click)="sendEdit()"
            title="Edit" 
            class="fa-m" 
            [ngStyle] = "{'color':'black'}"
            [icon]="faPencil"
             >
             </fa-icon></div>
            </div>
        <div class="skillcontainer">       
            <app-skills-item
                class="text-center skillunit" 
                *ngFor="let skill of skills"
                [skill] = "skill"
            >
        </app-skills-item>
        </div>

    </div>
    

</body>
