
    <div class="tops">
        <div class="espacio">
            <a class ="proyA" title="link proyecto" href="{{proy.link}}" target="_blank" rel="noopener noreferrer"><img
            class="logoemp logoproy"
            [src]="proy.logo" 
            alt=""> </a>
        </div>
        <div  class="desc-exp">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <h2><b>{{proy.nombre}}</b></h2>
                    </div>
                    <div *ngIf="this.editOK" class="col-4">
                        <a><fa-icon
                        class="fa-solid" 
                         [icon]="faPencil"
                         (click)="onClick(proy)"
                         routerLink="/proyectform/{{proy.id}}"
                         >
                         </fa-icon></a>
                    <fa-icon 
                    [icon]="faTimes"
                    [ngStyle]="{'color':'red'}"
                    class="fa-solid fa-xl"
                    (click) = "onDelete(proy)"
                    ></fa-icon>
                    </div>
                </div>
            </div>
            <p>{{proy.periodo| date: 'MM/yyyy'}}</p>
            <textarea 
            readonly class="about" 
            title="sobre mi" 
            rows="4">{{proy.about}}
            </textarea>              
        </div>
    </div> 

