
body{
  min-width: 185px;
  width: 100%;
  min-height: 962px;
  background-image: linear-gradient(to bottom, black,gray,white);
  color: white !important;
  display:flex;
  flex-direction: column;
}


h1{
  text-align: center;
}
p{
  text-align:justify;
  text-indent: 20px;
} 
a img{
  text-align: center !important;
  display: flex !important;
  max-height: 70px;

}
.midtext{
  text-align: center;
  align-items: center;
  flex-direction: column;

}
.containers{
  text-align: center;
  align-items: center;
  display:flex;
  float:right !important;
}

.navbar{
  justify-content: center;
}
.logos{
  margin: 15px
}

.textcontent{
  max-width:50%;
  display: inline-block;
}
.btnstart{
  display: inline-table; 
}

/*Boton de acceso*/
.btn {
  background-color: #F48224;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  border-radius: 0 !important;
  border: none;
  transition:all 0.3s ease 0s;
}
.btn:hover,
.btn.active:hover{
  color: #ffffff;
}
.btn:before{
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  background-color:#2E0014;
  width: 30%;
  height: 4px;
  transition:all 0.3s ease 0s;
}
.btn:after{
  content: "";
  position: absolute;
  bottom: -7px;
  right: 0;
  background-color:#2E0014;
  width: 30%;
  height: 4px;
  transition:all 0.3s ease 0s;
}
.btn:hover:before,
.btn:hover:after,
.btn.active:before,
.btn.active:after{
  width: 100%;
}

@media screen and (max-width: 575px){
  .btn{
      margin-bottom: 50px !important;
  }}

/*Boton acceso*/

.footer{
  display:flex;
  color:black;
  justify-content:space-around;
  
}
.footertext{
  background-image: linear-gradient(90deg, black,gray,white);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  text-decoration: none;
  font-weight: 900;
  transition: background-size 300ms ease-out;
 

}
.footertext:hover{
  background-size: 100% 3px;

}