<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-4 session-form">
            <div class="card shadow">
                <div class="card-title text-center border-bottom">
                    <h2 class="p-3">Acceso</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="fnValidar($event)">
                        <div class="form-group">
                            <label for="username" class="form-label">Usuario</label>
                            <input  type="text" 
                                    class="form-control" 
                                    formControlName="usuario" 
                                    placeholder="Ingrese email" 
                            />
                        </div>
                        <div *ngIf="Username?.errors && Username?.touched">
                            <p *ngIf="Username?.hasError('required')" class="error">El usuario es requerido</p>
                            <p *ngIf="Username?.hasError('email')" class="error">Ingresar en formato e-mail</p>
                        </div>
                        <div class="form-group">
                            <label  for="password" class="form-label">Password</label>
                            <input  type="password" 
                                    class="form-control" 
                                    formControlName="password" 
                                    placeholder="Ingrese password"
                            />
                            <div *ngIf="Password?.errors && Password?.touched">
                                <p *ngIf="Password?.hasError('required')" class="error">La contraseña es requerida</p>
                            </div>
                        </div>

                        
                        <div class="mb-4">  <button type="submit" class="btn-form btn-success">ENTRAR</button><br/>
                        <button type="button" class="btn-form btn-danger" (click)="fnCancelar()">Cancelar</button></div> 
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>