<div class="forma body" id="myForm">
    <form 
    [formGroup]="form"
    (ngSubmit)="onSubmit()"

    >
        <div class="form-control form-control-lg">
            <label for="puesto">Nombre completo:</label>
            <input 
            type="text" 
            name="nombre" 
            id="nombre" 
            placeholder="Ingresar nombres y apellidos completos"
            formControlName="nombre"     
            >
            <div *ngIf="Nombre?.errors && Nombre?.touched">
                <p *ngIf="Nombre?.hasError('required')" class="error">Ingrese su nombre</p>
            </div>
        </div>
        <div class="form-control form-control-lg">    
            <label for="empresa">Puesto actual / titulo: </label>
            <input 
            type="text" 
            name="titulo" 
            id="titulo" 
            placeholder="Inclui aquello con lo que te identifiques"
            formControlName="titulo" 
            >
            <div *ngIf="Titulo?.errors && Titulo?.touched">
                <p *ngIf="Titulo?.hasError('required')" class="error">Ingrese su ocupacion o titulo</p>
            </div>
        </div>
        <div class="form-control form-control-lg">    
            <label for="foto">Foto: </label>
            <input 
            type="text" 
            name="foto" 
            id="fotografia" 
            placeholder="Agregar el link de tu foto"
            formControlName="foto" 
            >
        </div>

        <div class="form-control form-control-lg">    
            <label for="tareas">Sobre ti:  </label>
            <textarea 
            type="text" 
            name="about" 
            rows="5"
            maxlength="500"
            class="about" 
            placeholder="Resumi aqui una pequeña descripcion sobre vos"
            formControlName="about" 
            ></textarea>
            <div *ngIf="About?.errors && About?.touched">
                <p *ngIf="About?.hasError('required')" class="error">Escribi algo sobre vos</p>
            </div>
        </div>
    
        <div class="btn-div"><button type="submit" class="btn-form btn-success">Aceptar</button>
        <button type="button" class="btn-form btn-danger"  (click)="cancelarBtn()">Cancelar</button></div>
        
    </form>
    </div>